body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
}
header {
    margin-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px inset;
    box-shadow: 0 0 3px 0 black;
}
main {
    padding-left: 5%;
    padding-right: 5%;
}
.room-container {
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
}
.room {
    margin: 10px;
    width: 310px;
    min-width: 310px;
}

.room-img {
    border-radius: 10px;
    height: 204px;
}

.room-type {
    margin-top: 6px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.btn-airbnb {
    background-color: #f02757;
    color: white;
    width: 105px;
    height: 46px;
}

.filtro-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
